/**
 * Detect creation of <embed> and <object> tags.
 */
@-webkit-keyframes slaxjs-detected-object-or-embed { from {} }
@keyframes         slaxjs-detected-object-or-embed { from {} }
object, embed {
  -webkit-animation-delay: 0s !important;
  -webkit-animation-name: slaxjs-detected-object-or-embed !important;
  -webkit-animation-play-state: running !important;
  animation-delay: 0s !important;
  animation-name: slaxjs-detected-object-or-embed !important;
  animation-play-state: running !important;
}
